@{
    ViewBag.Title = "Self Confirm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using CPEWeb.Class
@using DAL.Implement.CPE_vs1DAL
@model Models.Register
@{
    ISitesDAL _DALSite = new SitesDAL();
}
<script type="text/javascript">
    $(document).ready(function () {
        _checkUsername();
        $("#idBarcode").barcode('@PublicClass._loanInfo.CustomerCode', "code128");
    });
    function _checkUsername()
    {
        var username = $('#UserName').val();
        $.ajax({
            type: "POST",
            url: '@Url.Action("CheckUsername", "LoanCPE")',
            data: { Username:username},
            success: function (data) {
                success(data);
            }
        });
    }
    var IsValid='false';
    function success(data) {
        if (data == "true") {
            alert("Username already exist!");
            IsValid = 'false';
        }
        else {
            IsValid = 'true';
        }
    }
    function _onClickSubmit()
    {
        if (IsValid=='true')
            return $('#idSelfForm').submit();
        else
        {
            return false;
        }
    }
</script>
<section class="inner-banner" style="height: 300px; background: url(@Url.Content("~/Content/Template/images/slide-1.jpg")) center;">
    <div class="content">
        <h1>Traveler WiFi pocket-device provides islandwide WiFi Internet connection!</h1>
    </div>
</section>
<section class="inner-main clearfix">
    <div class="content  clearfix">
        <div class="left">
            <div class="page-nav">

                <a href="@Url.Action("Rental","LoanCPE")"><div class="inner-nav-f"><span class="text">EDIT RENTAL</span></div></a>
                <a href="@Url.Action("InnerCustomer", "LoanCPE")"><div class="inner-nav"><span class="text">CUSTOMER INFO</span></div></a>
                @{
                    if (PublicClass._customerCur != null && PublicClass._customerCur.ID != 0)
                    {
                        if (PublicClass._loanInfo.RentalMode == "Delivery")
                        {
                            <a href="@Url.Action("DeliveryPayment", "LoanCPE")"><div class="inner-nav"><span class="text">PAYMENT</span></div></a>
                            <a href="@Url.Action("DeliveryConfirmWithLogin", "LoanCPE")"><div class="inner-nav-l"><span class="text">CONFIRM</span></div></a>
                        }
                        else
                        {
                            <a href="@Url.Action("SelfPayment", "LoanCPE")"><div class="inner-nav"><span class="text">PAYMENT</span></div></a>
                            <a href="@Url.Action("SelfConfirmWithLogin", "LoanCPE")"><div class="inner-nav-l"><span class="text">CONFIRM</span></div></a>
                        }
                    }
                    else
                    {
                        if (PublicClass._loanInfo.RentalMode == "Delivery")
                        {
                            <a href="@Url.Action("DeliveryPayment", "LoanCPE")"><div class="inner-nav"><span class="text">PAYMENT</span></div></a>
                            <a href="@Url.Action("DeliveryConfirm", "LoanCPE")"><div class="inner-nav-l"><span class="text">CONFIRM</span></div></a>
                        }
                        else
                        {
                            <a href="@Url.Action("SelfPayment", "LoanCPE")"><div class="inner-nav"><span class="text">PAYMENT</span></div></a>
                            <a href="@Url.Action("SelfConfirm", "LoanCPE")"><div class="inner-nav-l"><span class="text">CONFIRM</span></div></a>
                        }
                    }
                }
            </div>
            <div class="holder">
                <h1></h1>
                <h2>Confirmation Code <span style="color:#3f9ed0;">[ @PublicClass._loanInfo.CustomerCode ]</span><div id="idBarcode"></div></h2>
                <div class="clearfix">
                    <ul class="bullet-list">
                        <li><p>An email confirmation of your order will be sent to you shortly.</p></li>
                        <li><p>One day prior to your device due Date,  an email will be sent to you.</p></li>
                        <li><p>An email acknowledgment will be sent to you  once we received your return device package. </p></li>
                    </ul>
                </div>
                <h1>Online Orders & Member Benefits</h1>
                <div class="clearfix">
                    <ul class="bullet-list">
                        <li><p>3% discount off your 'Rental Price'.</p></li>
                        <li><p>Collect and Return device package at any of our conveniently located service counters.</p></li>
                        <li><p>Collect and Return device package at any of our conveniently located service counters.</p></li>
                        <li><p>Do not need to re-fill  in customer information for future orders (auto-populated for member's verification and confirmation).</p></li>
                    </ul>
                </div>
                <h1>Not a Member? Membership Registration Below ( Free )</h1>
                <div class="clearfix">
                    @using (Html.BeginForm("SelfConfirm", "LoanCPE", FormMethod.Post, new { id = "idSelfForm" }))
                    {
                        <table style="float:left;">
                            <tr>
                                <td class="align-right">Username</td>
                                <td>
                                    @Html.TextBoxFor(model => model.UserName, new { placeholder = "Username", onblur = "_checkUsername();" })
                                </td>
                            </tr>
                            <tr>
                                <td class="align-right"></td>
                                <td>
                                    @Html.ValidationMessageFor(m => m.UserName)
                                </td>
                            <tr>
                            <tr>
                                <td class="align-right">Password</td>
                                <td>
                                    @Html.PasswordFor(model => model.Password, new { placeholder = "Password" })
                                </td>
                            </tr>
                            <tr>
                                <td class="align-right"></td>
                                <td>
                                    @Html.ValidationMessageFor(m => m.Password)
                                </td>
                            <tr>
                            <tr>
                                <td class="align-right">Re-type Password</td>
                                <td>
                                    @Html.PasswordFor(model => model.ConfirmPassword, new { placeholder = "Confirm Password" })
                                </td>
                            </tr>
                            <tr>
                                <td class="align-right"></td>
                                <td>
                                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                                </td>
                            <tr>
                            <tr><td class="align-right" colspan="2"><input type="button" onclick="_onClickSubmit();" value="Submit" class="submit" style="float:right;margin:0;"></td>                    </tr>
                        </table>
                    }
                </div>
            </div>
        </div>
        <div class="sidebar">
            <div class="header">Rental Summary <a href="#"><span class="edit">EDIT</span></a></div>
            <span class="text"><strong>SELF COLLECT & RETURN</strong></span>
            <span class="text"><strong>Device QTY</strong> :   @PublicClass._loanInfo.RentalMode </span>
           @if (PublicClass._loanInfo.CollectionLocation != 0)
{
    <span class="text"><strong>Collection Location</strong> :  @_DALSite.SelectByID(PublicClass._loanInfo.CollectionLocation).Name </span>
}
            <span class="text"><strong>Loan Date</strong>:   @PublicClass._loanInfo.CollectionDate </span>
            <span class="text"><strong>Return Date</strong>:   @PublicClass._loanInfo.ReturnDate </span>
            <span class="text"><strong>Return Type</strong>:  @PublicClass._loanInfo.RentalMode</span>
            <br>
            <span class="text"><strong>Rental Price</strong>:  SGD @PublicClass._loanInfo.RentalPrice</span>
            <p style="font-size:12px;margin-left:20px;">[Minimum 3 Days Price Plan]</p>
            <span class="text"><strong>Online Discount</strong>:  SGD @PublicClass._loanInfo.OnlineDiscount</span>
            <span class="text"><strong>Delivery</strong>:  SGD @PublicClass._loanInfo.Delivery</span>
            <span class="text"><strong>Total</strong>:  SGD @PublicClass._loanInfo.Total</span>
            <div class="divider"></div>
            <span class="text"><strong>Customer Name</strong> : @PublicClass._customerCur.Name </span>
            @{
                if (PublicClass._customerCur.Passport != null)
                {
                    <span class="text"><strong>Passport Number</strong> :   @PublicClass._customerCur.Passport </span>
                    <span class="text"><strong>Passport Expiration</strong>:   @PublicClass._customerCur.Expiry_date </span>
                }
                else if (PublicClass._customerCur.DrivingLisence != null)
                {
                    <span class="text"><strong>Driving Lisence</strong> :   @PublicClass._customerCur.DrivingLisence </span>
                }
                else
                {
                    <span class="text"><strong>ID Lisence</strong> :   @PublicClass._customerCur.IDLisence </span>
                }
            }
            <span class="text"><strong>Date of Birth</strong>:   @PublicClass._customerCur.DOB </span>
            <span class="text"><strong>Contact Number</strong>: @PublicClass._customerCur.Phone</span>
            <span class="text"><strong>Email</strong>: @PublicClass._customerCur.Email</span>
            <div class="divider"></div>
        </div>
    </div>
</section>

